@media only screen and (max-width: 600px) {
    div.div_flex_responsive_small, div.div_flex_responsive, div.div_flex{
        display: block;
    }
    div.ancho_20{width: auto;}
    div.ancho_30{width: auto;}
    div.ancho_50{width: auto;}
    div.ancho_60{width: auto;}
    div.ancho_70{width: auto;}
    div.ancho_100{width: auto;}
    div.no_padding{padding: 5px;}
}   
 @media only screen and (min-width: 600px) and (max-width:768px) {
      div.div_flex_responsive , div{
          display: block;
      }
      div.ancho_70{width: auto;}
      div.ancho_30{width: auto;}  
}


.clr_negro{background: black;}
.clr_azul{background: blue;}
.clr_azul_claro{background: lightblue;}
.clr_naranja{background: orange;}
.clr_rojo{background: red;}
.clr_gris{background:grey;}
.clr_amarillo{background: yellow;}
.clr_amarillo_claro{background: lightyellow;}
.clr_gris_claro{background-color: lightgray;}


.ancho_20{width: 20%;}
.ancho_30{width: 30%;}
.ancho_50{width: 50%;}
.ancho_60{width: 60%;}
.ancho_70{width: 70%;}
.ancho_85{width: 85%;}
.ancho_100{width: 100%;}

.no_padding{padding: 0px;}

body{
    margin: 20px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div{
    margin: 10px;
    padding: 10px;    
}

.div_flex ,.div_flex_responsive, .div_flex_responsive_small{
    display: flex;
    flex-direction: row;
}

.div_negra{
    background: black;
    margin-bottom: 20px;
}